*~
obj/
bin/
labcodes_answer/
.idea/
CMakeLists.txt
cmake-build-debug/
labcodes/lab1/i386-elf-gcc.rb
labcodes/lab1/test.*
.gdb.in
.qemu.out
cscope.*
ncscope.*
tags
*swp
.cproject
.project
*.bak
*.org
.codelite
*.project
*.workspace
a.out
*.log
*.exe
chytesting
disk0
*.orig
